<section
  id="carga"
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header class="z-30 relative h-full flex flex-col">
      <h2 class="text-black pt-40 text-[40px] font-medium">
        Permanezca cargado
      </h2>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-16">
      <div class="flex justify-center">
        <div class="flex flex-col items-center h-auto w-56">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            ><path d="M8 24l3-9h-9l14-15-3 9h9l-14 15z"></path></svg
          >
          <p class="text-black text-xs px-2 sm:px-12 py-2 inline-block">
            Carga en casa
          </p>
        </div>
        <div class="flex flex-col items-center h-auto w-56">
          <p class="sm:text-[28px] font-medium">45 000 +</p>

          <p class="text-black text-xs px-2 sm:px-12 py-2 inline-block">
            Supercargadores por todo el mundo
          </p>
        </div>
        <div class="flex flex-col items-center h-auto w-56">
          <p class="sm:text-[28px] font-medium">40.000 +</p>

          <p class="text-black text-xs px-2 sm:px-12 py-2 inline-block">
            Wall Connectors en las ubicaciones de Carga en Destino
          </p>
        </div>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/Carga.avif"
      alt="Model 3"
      class="object-center object-cover h-full w-full"
    />
  </div>
</section>
