<section
  id="model-3"
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="white">
  <div class="z-30 relative h-full flex flex-col">
    <header class="z-30 relative h-full flex flex-col">
      <h2 class="text-black pt-40 text-[40px] font-medium">Model 3</h2>
      <p class="text-black text-sm underline-offset-1">
        Programe una consulta virtual
      </p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-4 flex mx-auto  flex-col sm:flex-row">
        <p><a
          class="text-white text-sm rounded px-[58px] py-2 bg-[#3D3F44] inline-block hover:shadow-6xl transition-colors duration-500"
          href="">
          Explorar inventario</a
        ></p>
        <p><a
          class="text-black text-sm rounded px-12 py-2 bg-white inline-block hover:shadow-6xl transition-colors duration-500 mt-4 sm:mt-0"
          href="">
          Pedido personalizado</a
        ></p>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/Model-3.avif"
      alt="Model 3"
      class="object-center object-cover h-full w-full"
    />
  </div>
</section>
