<section
  id="model-s"
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black">
  <div class="z-30 relative h-full flex flex-col">
    <header class="z-30 relative h-full flex flex-col">
      <h2 class="text-black pt-40 text-[40px] font-medium">Model S</h2>
      <p class="text-black text-sm underline-offset-1">
        Programe una consulta virtual
      </p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="gap-x-4 flex mx-auto flex-col sm:flex-row">
        <p>
          <a
            class="enlaces text-white text-sm rounded sm:px-12 px-[58px] py-2 bg-[#3D3F44] inline-block hover:shadow-6xl transition-colors duration-500"
            href="">
            Explorar inventario</a>
        </p>
        <p>
          <a
            class="enlaces text-black text-sm rounded px-12 py-2 bg-white inline-block hover:shadow-6xl transition-colors duration-500 mt-4 sm:mt-0"
            href="">
            Pedido personalizado</a>
        </p>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/Model-S.avif"
      alt="Model S"
      class="object-center object-cover h-full w-full"
    />
  </div>
</section>
