<section
  id="powerwall"
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="white">
  <div class="z-30 relative h-full flex flex-col">
    <header class="z-30 relative h-full flex flex-col">
      <h2 class="text-white pt-40 text-[40px] font-medium">Powerwall</h2>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-16 invert">
      <div class="flex justify-center">
        <div class="flex flex-col items-center h-auto w-56">
          <img src="/charging_icon.png" alt="Imagen de carga" width="30px" />
          <p class="text-black text-xs px-2 sm:px-12 py-2 inline-block">
            Almacene energía
          </p>
        </div>
        <div class="flex flex-col items-center h-auto w-56">
          <p class="sm:text-[28px] font-medium">24/7</p>

          <p class="text-black text-xs px-2 sm:px-12 py-2 inline-block">
            Energía en reserva como protección
          </p>
        </div>
        <div class="flex flex-col items-center h-auto w-56">
          <img
            src="/smart-home.png"
            alt="Potencie su hogar con energia"
            width="30px"
          />

          <p class="text-black text-xs px-2 sm:px-12 py-2 inline-block">
            Potencie su hogar
          </p>
        </div>
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img
      src="/powerwall.avif"
      alt="Model 3"
      class="object-center object-cover h-full w-full"
    />
  </div>
</section>
